POSTGRES_USER=logyca
POSTGRES_PASSWORD=logyca
POSTGRES_DB=sales_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_TEST_USER=logyca_test
POSTGRES_TEST_PASSWORD=logyca_test
POSTGRES_TEST_DB=sales_db_test
POSTGRES_TEST_HOST=localhost
POSTGRES_TEST_PORT=5433

LOG_LEVEL=INFO

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;
AZURE_BLOB_CONTAINER=sales-csv
AZURE_QUEUE_NAME=sales-processing
N8N_ENCRYPTION_KEY=Vm4tbhK3BAFMmcYw243z2dHf+67CW1FOl27dqXzNVJM=